<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>
<header>
    <a href="/">Back to Main</a>
    <% if (user === 'guest' || !user) {%>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    <% } else {%>
        <a href="/logout">Logout</a>
        <a href="/catchProfile">Go To Your Profile</a>
        <a href="/catchPosts">Create Your Own Catch</a>
    <% } %>
</header>

<body>
    <h1> One Catch Post, Plz!</h1>
    <% if (user.userName !== 'guest') {%>
        <h2>Logged in User: <%= user.userName %></h2>
    <% } %>
    <hr>
    <section data-id="<%= catchPost._id %>">
        <h3><span class="catch-title"><%= catchPost.catchTitle %></span></h3>
        <h5>Posted by: <em><%= catchPost.postedBy.userName %></em> on <%= catchPost.date %></h5>
        <p class="catch-post-content"><%= catchPost.catchContent %></p>
        <span>Likes: <%= catchPost.likes %></span>
        <% if (user.userName === catchPost.postedBy.userName) {%>
            <button class="edit" type="submit">Edit Post</button>
            <button class="del"> Delete </button>
        <% } %>
    </section>
    <hr>
    <h2>Comments:</h2>
    <% if (catchPost.comments.length > 0) { %>
        <div data-id="<%= catchPost._id %>">
        <% catchPost.comments.forEach(comment => {%>
            <div class="comment" data-id="<%= comment._id %>">
                <hr>
                <h4>User <%= comment.user.userName %> said: </h4>
                <p><%= comment.text %></p>
                <% if (user.userName === comment.user.userName) {%>
                    <p>You should be able to delete your own comment, amiright?</p>
                    <p><%= comment._id %></p>
                    <button class='del-comment'>Delete Comment</button>
                <% } %>
            </div>
        <% }) %>
        </div>
    <% } %>

    <% if (user) {%>
        <p>Hey <%= user.userName %>, you can comment and like</p>
        <form action="/catchPosts/<%= catchPost._id %>/comment/?_method=PUT" method="POST">
            <label for="text">Enter Comment here: </label>
                <textarea name="text"></textarea>
            <input type="submit">
        </form>
    <% }else{ %>
        <p><a href="/signup">Sign up</a> or <a href="/login">Login</a> to comment</p>
    <% } %>
    
    <script src="../../js/main.js"></script>
</body>
</html>