<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>
<header>
    <a href="/">Back to Main</a>
    <% if (user === 'guest' || !user) {%>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    <% } else {%>
        <a href="/logout">Logout</a>
        <a href="/catchProfile">Go To Your Profile</a>
        <a href="/catchPosts">Create Your Own Catch</a>
    <% } %>

    <% if (user.userName !== 'guest') {%>
        <div class="followed-container">
            <button id="followed-btn">Followed (<%= following.length %>)</button>
            <div id="followed-dropdown" class="followed-content hidden">
                <% for (let i = 0, len = following.length; i < len; i++){ %>
                    <a href="/catchPosts/<%= following[i].userId %>"><%= following[i].userName %></a>
                <% } %>
            </div>
        </div>
    <% } %>
</header>

<body>
    <h1> One Catch Post, Plz!</h1>
    <% if (user.userName !== 'guest') {%>
        <h2>Logged in User: <%= user.userName %></h2>
    <% } %>
    <hr>
    <section data-id="<%= catchPost._id %>">
        <h3><span class="catch-title"><%= catchPost.catchTitle %></span></h3>
        <h5>Posted by: 
            <a href="/catchPosts/<%= catchPost.postedBy._id %>">
                <em><%= catchPost.postedBy.userName %></em>
            </a> on <%= catchPost.date %>
        </h5>

        <p class="catch-post-content"><%= catchPost.catchContent %></p>
        <textarea class="edit-post-content hidden"><%= catchPost.catchContent %></textarea> 
        
        <% if (!catchPost.catchegories[0]) { %>
            <p class="post-catchegories">No catchegories selected.</p>
        <% } else { %>
            <p class="post-catchegories">Catchegories: <%= catchPost.catchegories.join(', ') %></p>
        <% } %>

        <div class="edit-post-catchegories hidden">
            <% for (let i = 0, len = catchegories.length; i < len; i++) {%>
                <div>
                    <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= availableCatchegories[i].catchegory %>"
                    <% if (catchPost.catchegories.includes(catchegories[i].catchegory)) {%>
                        checked
                    <% } %>
                    <label for="<%= catchegories[i].catchegory %>"><%= availableCatchegories[i].catchegory %></label>
                </div>
            <% } %>
        </div>

        <span>Likes: <%= catchPost.likes %></span>
        <% if (user.userName === catchPost.postedBy.userName) {%>
            <button class="edit" type="submit">Edit Post</button>
            <span>If you wish to delete this post, do so from your <a href="/catchProfile">profile page</a>.</span>
        <% } %>
    </section>
    <hr>
    <h2>Comments:</h2>
    <% if (catchPost.comments.length > 0) { %>
        <div data-id="<%= catchPost._id %>">
        <% catchPost.comments.forEach(comment => {%>
            <div class="comment" data-id="<%= comment._id %>">
                <hr>
                <h4>User <%= comment.user.userName %> said: </h4>
                <p class='comment-text'><%= comment.text %></p>
                <% if (user.userName === comment.user.userName) {%>
                    <button class='edit-comment'>Edit Comment</button>
                    <button class='del-comment'>Delete Comment</button>
                <% } %>
            </div>
        <% }) %>
        </div>
    <% } %>

    <% if (user) {%>
        <p>Hey <%= user.userName %>, you can comment and like</p>
        <form action="/catchPosts/<%= catchPost._id %>/comment/?_method=PUT" method="POST">
            <label for="text">Enter Comment here: </label>
                <textarea name="text"></textarea>
            <input type="submit">
        </form>
    <% }else{ %>
        <p><a href="/signup">Sign up</a> or <a href="/login">Login</a> to comment</p>
    <% } %>
    
    <script src="../../js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="../../js/user.js"></script>
    <% } %>
</body>
</html>