<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch du Jour!</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/dabf81eaea.js" crossorigin="anonymous"></script>

</head>
<body data-user="<%= user._id %>">
    <%- include('partials/header') -%>

    <div class="container">
        <main>
            <% if (user.userName !== 'guest') {%>

                <% if (Object.keys(catchPosts).length !== 0){ %>
                    <% if (user.userName !== targetUser.userName &&
                            user.following.every(u => u.userName !== catchPosts[0]?.postedBy.userName)) {%>
                    <form action="/users/followUser?_method=PUT" method="POST">
                        <button id="follow" type="submit" name="<%= catchPosts[0]?.postedBy._id %>">Follow <%= catchPosts[0]?.postedBy.userName %></button>
                    </form>
                    <% }else if (user.userName !== catchPosts[0]?.postedBy.userName) { %>
                    <form action="/users/unfollowUser?_method=PUT" method="POST">
                        <button id="follow" type="submit" name="<%= catchPosts[0].postedBy._id %>">Unfollow <%= catchPosts[0]?.postedBy.userName %></button>
                    </form>
                    <% } %>
                <% } %>
            
                
                <!-- If the user is on their own page, allow personalization of things -->
                <!-- console.log(`from EJS - user: ${user}, catchPosts: ${catchPosts}`) -->
                    <% if (user.userName === targetUser.userName) {%>
                    <div id="followed-by">
                        <button id="followed-by-btn">See who is following you (<%= followedBy.length %>)</button>
                        <div class="followed-by-content hidden">
                            <% for (let i = 0, len = followedBy.length; i < len; i++) {%>
                                <a href="/catchPosts/<%= followedBy[i].userName %>"><%= followedBy[i].userName %></a>
                            <% } %>
                        </div>
                    </div>
                    <% } %>

                    <div class="create-page right">
                        <a href="/createCatchPage">Create Your Own Catch</a>
                    </div>
            <% } %>
            <!-- ------------------------------------------------------------ -->
            <!-- Filter out unselected catchegories         -->
            <% catchPosts = catchPosts.filter(post => post.catchegories?.every(cat => !user.omittedCatchegories.includes(cat))) %>

            <!-- Print All Posts from User -->
            <% catchPosts.forEach( el => { %>
                <section class="catch-post" data-id="<%=el._id%>">
                    <section class="catch-header">
                        <div class="likes">
                            <% if (el.likedBy.some(u => u.userName === user.userName)){ %>
                            <i class="fas fa-fish fa-3x liked"><span class="fa-layers-counter fa-fw"><%= el.likes %></span></i>
                            <% }else{ %>
                            <i class="fas fa-fish fa-3x"><span class="fa-layers-counter fa-fw"><%= el.likes %></span></i>
                            <% } %>
                        </div>
                        <div class="catch-title">
                            <h3><a href="../catchPosts/<%= el._id%>/catchPost"><%= el.catchTitle %></a></h3>
                            <h5>Posted by: <em><a href="<%= el.postedBy.userName %>"><%= el.postedBy.userName %></a></em> <%= moment(el.date).fromNow() %></h5>
                        </div>
                        <div class="comment-bubble">
                            <i class="far fa-comment fa-3x fa-fw"><span class="fa-layers-counter fa-fw"><%= el.comments.length %></span></i>
                        </div>
                    </section>
                     
                    <hr>
                    <% if (!el.catchegories[0]) { %>
                        <h4 class="post-catchegories">No catchegories selected.</h4>
                    <% } else { %>
                        <h4 class="post-catchegories">Catchegories: <span><%= el.catchegories.join(', ') %></span></h4>
                    <% } %>
                    <hr>

                    <% if (el.catchLink !== 'none'){ %>
                        <span>Outside link: </span><a class="catch-link" href="<%= el.catchLink %>" target="_blank"><%= el.catchLink %></a>
                    <% } %>

                    <p class="catch-post-content"><%= el.catchContent %></p>
                    <textarea class="edit-post-content hidden" maxlength="10000"><%= el.catchContent %></textarea>


                    <% console.log(el.catchegories[0]) %>
 
                    <% if (user.userName === el.postedBy.userName) {%>
                    <div class="edit-and-delete">
                        <button class="edit" type="submit">Edit Post</button>
                        <button class="del"> Delete </button>
                    </div>
                    <% } %>
                    <div class="edit-post-catchegories hidden">
                        <% for (let i = 0, len = availableCatchegories.length; i < len; i++) {%>
                            <div>
                                <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= availableCatchegories[i].catchegory %>"
                                <% if (el.catchegories.includes(availableCatchegories[i].catchegory)) {%>
                                    checked
                                <% } %>
                                <label for="<%= availableCatchegories[i].catchegory %>"><%= availableCatchegories[i].catchegory %></label>
                            </div>
                        <% } %>
                    </div>

                </section>
            <% }) %>    
            </ul>
            <!-- -------------------------- -->

        </main>

        <aside>
            <% if (targetUser.userName === user.userName){ %>
                <h3>Your Catchegories</h3>
            <% } else { %>
            <h3><%= targetUser.userName %>'s Catchegories</h3>
            <% } %>
            <% if (user.userName === 'guest') {%>
                <span>(Signup/Login to edit your viewed catchegories)</span>
            <% } %>
            <hr>
            <div class="catchegories">
                <form action="/users/omitCatchegory?_method=PUT" method="POST">
                <% for (let i = 0, len = catchegories.length; i < len; i++){ %>
                    <div>
                        <input type="checkbox" class="catchegory-selected" name="catchegory" value="<%= catchegories[i].catchegory %>" checked>
                        <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %> (<%= catchegories[i].count %>)</label>
                    </div>
                <% } %>
                </form>
            </div>
    
            <% if (user.userName !== 'guest' && user.omittedCatchegories.length > 0) {%>
            <h3>Unseen Catchegories</h3>
            <div class='omitted-catchegories'>
                <form action="/users/omitCatchegory?_method=PUT" method="POST">
                <% for (let i = 0, len = user.omittedCatchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="catchegory-unselected" name="omitted-catchegory" value="<%= user.omittedCatchegories[i] %>">
                        <label for="<%= user.omittedCatchegories[i] %>"><%= user.omittedCatchegories[i] %></label>
                    </div>
                <% } %>
            </div>
            <% } %>
        </aside>
    </div>


    <%- include('partials/footer') -%>

    <script src="../js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="../js/user.js"></script>
        <% if (Object.keys(catchPosts).length !== 0){ %>
            <% if (user.userName !== targetUser.userName) { %>
                <script src="../js/catchPosts.js"></script>
            <% } %>
            <% if (user.userName === targetUser.userName){ %>
                <script src="../js/profile.js"></script>
            <% } %>
        <% } %>
    <% } %>
</body>
</html>