<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <!--% console.log('user from ejs' +user) -->
    <!--% console.log('catchpost.postedby.username ' +catchPosts[0]?.postedBy.userName) %-->

    <a href="/">Back to Main</a>
    <% if (user.userName === 'guest' || !user) {%>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    <% } else {%>
        <a href="/logout">Logout</a>
        <a href="/catchProfile">Go To Your Profile</a>
        <a href="/createCatchPage">Create Your Own Post</a>
    <% } %>

        <button id="followed-btn">Followed</button>

    <% if (Object.keys(catchPosts).length !== 0){ %>
        <h1><%= catchPosts[0]?.postedBy.userName %>'s Catches</h1>
    <% }else{ %>
        <h1><%= user.userName %> has no catches.</h1>
    <% } %>
        
    <% if (user.userName !== 'guest') {%>
        <form action="/users/followUser?_method=PUT" method="POST">
            <button id="follow" type="submit" name="<%= catchPosts[0].postedBy._id %>">Follow</button>
        </form>
        <h2><%= user.userName %> is logged in</h2>
    
        <p><a href="/logout">Logout</a></p>
        <p><a href="/">Back to Home</a></p>
        
        <!-- If the user is one their own page, allow personalization of things -->
        <!-- console.log(`from EJS - user: ${user}, catchPosts: ${catchPosts}`) -->
        <% if (user.userName === catchPosts[0]?.postedBy.userName) {%>
        <div>
            <form action="/catchPosts/initCatchegory" method="POST">
                <h3>Initialize Catchegories (remove before publishing)</h3>
                <input type="submit">
            </form>
            <h3>Which catchegory would you like to create?</h3>
            <form action="/catchPosts/createCatchegory?_method=PUT" method="POST">
                <input type="text" name="createCatchegory">
                <input type="submit">
            </form>
        </div>
        <div>
            <h3>Which catchegory would you like to omit?</h3>
            <form action="/catchPosts/omitCatchegory?_method=PUT" method="POST">
                <input type="text" name="omitCatchegory">
                <input type="submit">
            </form>
        </div>
        <% } %>
    <% } %>
    <!-- ------------------------------------------------------------ -->

    <!-- Print All Posts from User -->
    <ul>
    <% catchPosts.forEach( el => { %>
        <div class="catch-post" data-id="<%=el._id%>">
            <h3><a class="catch-title"
                    href="../catchPosts/<%= el._id%>/catchPost">
                    <%= el.catchTitle %></a>
            </h3>
            <h5>Posted by: <%= el.postedBy.userName %> on <%= el.date %></h5>                
            <p class="catch-post-content"><%= el.catchContent %></p>
            <% if (el.catchegories.length < 1) { %>
                <p>No catchegories selected</p>
            <%} else { %>
                <p>Catchegories: <%= el.catchegories %></p>
            <% } %>
            <span>Likes: <%= el.likes %></span>
            <span>Comments: <%= el.commentsLength %></span>
            <% if (user.userName === el.postedBy.userName) {%>
                <button class="edit">Edit Post</button>
                <button class="del"> Delete </button>
            <% } %>
            </div>
    <% }) %>    
    </ul>
    <!-- -------------------------- -->

    <h2><%= user.userName %> is logged in.</h2>

    <a href="/logout">Logout</a>

    <script src="../js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="../js/user.js"></script>
        <script src="../js/catchPosts.js"></script>
    <% } %>
</body>
</html>