<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <!--% console.log('user from ejs' +user) -->
    <!--% console.log('catchpost.postedby.username ' +catchPosts[0]?.postedBy.userName) %-->
    <header class="container">
        <div class='intro'>
            <h1>Welcome to Catch du Jour!</h1>
            <h3>Read/interact/create the tastiest catch of the day!</h3>
        </div>

        <nav>
        <% if (user.userName === 'guest' || !user) {%>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        <% } else {%>
            <h5><%= user.userName %> is logged in</h5>
            <a href="/logout">Logout</a>
            <a href="/catchProfile">Go To Your Profile</a>
            <div class="followed-container">
                <button id="followed-btn">Followed (<%= following.length %>)</button>
                <div id="followed-dropdown" class="followed-content hidden">
                    <% if (following.length === 0) {%>
                        <span>You are not following anyone</span> 
                    <% } else { %>
                    <% for (let i = 0, len = following.length; i < len; i++){ %>
                        <a href="/catchPosts/<%= following[i].userName %>"><%= following[i].userName %></a>
                    <% }} %>
                </div>
            </div>
                
        <% } %>
        </nav>
    </header>
    <hr>
    <div>
        <a href="/">Back to Main</a>
        <% if (user.userName === 'guest' || !user) {%>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        <% } else {%>
            <a href="/logout">Logout</a>
            <a href="/catchProfile">Go To Your Profile</a>
            <a href="/createCatchPage">Create Your Own Post</a>
        <% } %>

        <% if (user.userName !== 'guest') {%>
            <div class="followed-container">
                <button id="followed-btn">Followed (<%= following.length %>)</button>
                <div id="followed-dropdown" class="followed-content hidden">
                    <% if (following.length === 0) {%>
                        <span>You are not following anyone</span> 
                    <% } else { %>
                    <% for (let i = 0, len = following.length; i < len; i++){ %>
                        <a href="/catchPosts/<%= following[i].userName %>"><%= following[i].userName %></a>
                    <% }} %>
                </div>
            </div>
            <% } %>
    </div>

    <% if (user.userName !== 'guest') {%>
        <% catchPosts = catchPosts.filter(post => post.catchegories?.every(cat => !user.omittedCatchegories.includes(cat))) %>
    <% } %>

    <div class="container">
        <main>
            <h1><%= targetUser.userName %>'s Catch Page!</h1>
                
            <% if (user.userName !== 'guest') {%>
                <% if (Object.keys(catchPosts).length !== 0){ %>
                    <% if (user.userName !== targetUser.userName &&
                            user.following.every(u => u.userName !== catchPosts[0]?.postedBy.userName)) {%>
                    <form action="/users/followUser?_method=PUT" method="POST">
                        <button id="follow" type="submit" name="<%= catchPosts[0]?.postedBy._id %>">Follow</button>
                    </form>
                    <% }else if (user.userName !== catchPosts[0]?.postedBy.userName) { %>
                    <form action="/users/unfollowUser?_method=PUT" method="POST">
                        <button id="follow" type="submit" name="<%= catchPosts[0].postedBy._id %>">Unfollow</button>
                    </form>
                    <% } %>
                <% } %>
                <h2><%= user.userName %> is logged in</h2>
            
                <p><a href="/logout">Logout</a></p>
                <p><a href="/">Back to Home</a></p>
                
                <!-- If the user is on their own page, allow personalization of things -->
                <!-- console.log(`from EJS - user: ${user}, catchPosts: ${catchPosts}`) -->
                    <% if (user.userName === targetUser.userName) {%>
                    <div id="followed-by">
                        <button id="followed-by-btn">See who is following you (<%= followedBy.length %>)</button>
                        <div class="followed-by-content hidden">
                            <% for (let i = 0, len = followedBy.length; i < len; i++) {%>
                                <a href="/catchPosts/<%= followedBy[i].userId %>"><%= followedBy[i].userName %></a>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
            <% } %>
            <!-- ------------------------------------------------------------ -->

            <!-- Print All Posts from User -->
            <ul>
            <% catchPosts.forEach( el => { %>
                <div class="catch-post" data-id="<%=el._id%>">
                    <h3><a class="catch-title"
                            href="../catchPosts/<%= el._id%>/catchPost">
                            <%= el.catchTitle %></a>
                    </h3>
                    <h5>Posted by: <%= el.postedBy.userName %> on <%= el.date %></h5>  

                    <p class="catch-post-content"><%= el.catchContent %></p>
                    <textarea class="edit-post-content hidden" maxlength="10000"><%= el.catchContent %></textarea>


                    <% console.log(el.catchegories[0]) %>
                    <% if (el.catchegories.length < 1) { %>
                        <p class="post-catchegories">No catchegories selected</p>
                    <%} else { %>
                        <p class="post-catchegories">Catchegories: <%= el.catchegories.join(', ') %></p>
                    <% } %>
                    <% if (user.userName === el.postedBy.userName) {%>
                        <button class="edit" type="submit">Edit Post</button>
                        <button class="del"> Delete </button>
                    <% } %>
                    <div class="edit-post-catchegories hidden">
                        <% for (let i = 0, len = availableCatchegories.length; i < len; i++) {%>
                            <div>
                                <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= availableCatchegories[i].catchegory %>"
                                <% if (el.catchegories.includes(availableCatchegories[i].catchegory)) {%>
                                    checked
                                <% } %>
                                <label for="<%= availableCatchegories[i].catchegory %>"><%= availableCatchegories[i].catchegory %></label>
                            </div>
                        <% } %>
                    </div>
                    <button type="button" class="likes">Likes: </button><%= el.likes %>
                    <span>Comments: <%= el.commentsLength %></span>

                    </div>
            <% }) %>    
            </ul>
            <!-- -------------------------- -->

            <h2><%= user.userName %> is logged in.</h2>
        </main>

        <aside>
            <% if (targetUser.userName === user.userName){ %>
                <h3>Your Catchegories</h3>
            <% } else { %>
            <h3><%= targetUser.userName %>'s Catchegories</h3>
            <% } %>
            <% if (user.userName === 'guest') {%>
                <span>(Signup/Login to edit your viewed catchegories)</span>
            <% } %>
            <hr>
            <div class="catchegories">
                <form action="/users/omitCatchegory?_method=PUT" method="POST">
                <% for (let i = 0, len = catchegories.length; i < len; i++){ %>
                    <div>
                        <input type="checkbox" class="catchegory-selected" name="catchegory" value="<%= catchegories[i].catchegory %>" checked>
                        <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %> (<%= catchegories[i].count %>)</label>
                    </div>
                <% } %>
                </form>
            </div>
    
            <% if (user.userName !== 'guest' && user.omittedCatchegories.length > 0) {%>
            <h3>Unseen Catchegories</h3>
            <div class='omitted-catchegories'>
                <form action="/users/omitCatchegory?_method=PUT" method="POST">
                <% for (let i = 0, len = user.omittedCatchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="catchegory-unselected" name="omitted-catchegory" value="<%= user.omittedCatchegories[i] %>">
                        <label for="<%= user.omittedCatchegories[i] %>"><%= user.omittedCatchegories[i] %></label>
                    </div>
                <% } %>
            </div>
            <% } %>
        </aside>
    </div>

    <a href="/logout">Logout</a>

    <%- include('partials/footer') -%>

    <script src="../js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="../js/user.js"></script>
        <% if (Object.keys(catchPosts).length !== 0){ %>
            <% if (user.userName !== targetUser.userName) { %>
                <script src="../js/catchPosts.js"></script>
            <% } %>
            <% if (user.userName === targetUser.userName){ %>
                <script src="../js/profile.js"></script>
            <% } %>
        <% } %>
    <% } %>
</body>
</html>