<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><%= catchPosts[0].postedBy.userName %>'s CatchPosts</h1>

    <p><a href="/logout">Logout</a></p>
    <p><a href="/">Back to Home</a></p>

    <div>
        <form action="/catchPosts/initCatchegory" method="POST">
            <h3>Initialize Catchegories (remove before publishing)</h3>
            <input type="submit">
        </form>
        <h3>Which catchegory would you like to create?</h3>
        <form action="/catchPosts/createCatchegory?_method=PUT" method="POST">
            <input type="text" name="createCatchegory">
            <input type="submit">
        </form>
    </div>
    <div>
        <h3>Which catchegory would you like to omit?</h3>
        <form action="/catchPosts/omitCatchegory?_method=PUT" method="POST">
            <input type="text" name="omitCatchegory">
            <input type="submit">
        </form>
    </div>

    <ul>
    <% catchPosts.forEach( el => { %>
        <li class="catchPostItem" data-id="<%=el._id%>">
            <h3><%= el.catchTitle %></h3>
            <h5>Posted by: <%= el.postedBy.userName %> on <%= el.date %></h5>                
            <span class="catchPost"><%= el.catchContent %></span>
            <% if (el.catchegories.length < 1) { %>
                <p>No catchegories selected</p>
            <%} else { %>
                <p>Catchegories: <%= el.catchegories %></p>
            <% } %>
            <span>Likes: <%= el.likes %></span>
            <span>Comments: <%= el.commentsLength %></span>
            <% if (user === el.postedBy.userName) {%>
                <span class="del"> Delete </span>
            <% } %>
        </li>
    <% }) %>    
    </ul>

    <h2><%= user %> has posts.</h2>

    <form action="/catchPosts/createCatchPost" method="POST">
        <input type="text" placeholder="Enter Catch Title" name="catchTitle">
        <input type="text" placeholder="Enter Catch Content" name="catchContent">
        <input type="text" placeholder="Enter Catchegories" name="catchegories">
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>