<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://kit.fontawesome.com/dabf81eaea.js" crossorigin="anonymous"></script>
    <title>Catch du Jour!</title>
</head>

<%- include('partials/header') -%>

<body>
    <div class="container">
    <main>
        <section data-id="<%= catchPost._id %>" class="catch-post single-catch">
            <section class="catch-header">
                <div class="likes">
                    <% if (catchPost.likedBy.some(u => u.userName === user.userName)){ %>
                        <i class="fas fa-fish fa-3x liked"><span class="fa-layers-counter fa-fw"><%= catchPost.likes %></span></i>
                        <% }else{ %>
                        <i class="fas fa-fish fa-3x"><span class="fa-layers-counter fa-fw"><%= catchPost.likes %></span></i>
                        <% } %>
                </div>
                <div class="catch-title">
                    <h3><%= catchPost.catchTitle %></h3>
                    <h5>Posted by: <em><a href="../<%= catchPost.postedBy.userName %>"><%= catchPost.postedBy.userName %></a></em> <%= moment(catchPost.date).fromNow() %></h5>
                </div>
                <div class="comment-bubble">
                    <i class="far fa-comment fa-3x fa-fw"><span class="fa-layers-counter fa-fw"><%= catchPost.comments.length %></span></i>
                </div>
            </section>
            
            <hr>
            <% if (!catchPost.catchegories[0]) { %>
                <h4 class="post-catchegories">No catchegories selected.</h4>
            <% } else { %>
                <h4 class="post-catchegories">Catchegories: <span><%= catchPost.catchegories.join(', ') %></span></h4>
            <% } %>
            <hr>

            <% if (catchPost.catchLink !== 'none'){ %>
                <span>Outside link: </span><a class="catch-link" href="<%= catchPost.catchLink %>" target="_blank"><%= catchPost.catchLink %></a>
            <% } %>

            <p class="catch-post-content"><%= catchPost.catchContent %></p>
            <textarea class="edit-post-content hidden" maxlength="30000" required><%= catchPost.catchContent %></textarea> 
            
            <% if (user.userName === catchPost.postedBy.userName) {%>
            <div class="edit-and-delete">
                <button class="edit" type="submit">Edit Post</button>
            </div>
            <% } %>

            <div class="edit-post-catchegories hidden">
                <% for (let i = 0, len = availableCatchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= availableCatchegories[i].catchegory %>"
                        <% if (catchPost.catchegories.includes(availableCatchegories[i].catchegory)) {%>
                            checked
                        <% } %>
                        <label for="<%= availableCatchegories[i].catchegory %>"><%= availableCatchegories[i].catchegory %></label>
                    </div>
                <% } %>
            </div>

        </section>
        <hr>
        <div class="comments">
            <h2>Comments:</h2>
            <% if (catchPost.comments.length > 0) { %>
                <div data-id="<%= catchPost._id %>">
                <% catchPost.comments.forEach(comment => {%>
                    <div class="comment" data-id="<%= comment._id %>">
                        <hr>
                        <h4><%= moment(comment.date).fromNow() %> <a href="/catchPosts/<%= comment.user.userName %>"><em><%= comment.user.userName %></em></a> said: </h4>
                        <p class='comment-text'><%= comment.text %></p>
                        <textarea class="edit-comment-text hidden"><%= comment.text %></textarea>
                        <% if (user.userName === comment.user.userName) {%>
                            <button class='edit-comment'>Edit Comment</button>
                            <button class='del-comment'>Delete Comment</button>
                        <% } %>
                    </div>
                <% }) %>
                </div>
            <% } else { %>
                <p>There are no comments on this catch.</p>
            <% } %>
        </div>

        <% if (user.userName !== 'guest') {%>
            <hr>
            <div class="comment-box">
                <form action="/catchPosts/<%= catchPost._id %>/comment/?_method=PUT" method="POST">
                    <label for="text">Enter Comment here: </label>
                        <textarea name="text" class="comment-area"></textarea>
                    <input type="submit">
                </form>
            </div>
        <% }else{ %>
            <p><a href="/signup">Sign up</a> or <a href="/login">Login</a> to comment</p>
        <% } %>
    </main>
    </div>

    <%- include('partials/footer') -%>
    
    <script src="../../js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="../../js/user.js"></script>
    <% } %>
</body>
</html>