<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
</head>

<%- include('partials/header') -%>

<% catchPost.date = catchPost.date.toLocaleDateString(undefined, {year: "numeric", month: "long", day: "numeric", hour: "2-digit", minute: "2-digit" }) %>

<body>
    <div class="container">
    <main>
        <h3>Date test: <%= catchPost.date %></h3>
        <h3>Date test: <%= catchPost.date.toLocaleString(undefined, {year: "numeric", month: "long", day: "numeric", hour: "2-digit", minute: "2-digit" }) %></h3>

        <section data-id="<%= catchPost._id %>" class="catch-post single-catch">
            <h3><span class="catch-title"><%= catchPost.catchTitle %></span></h3>
            <h5>Posted by: 
                <a href="/catchPosts/<%= catchPost.postedBy.userName %>">
                    <em><%= catchPost.postedBy.userName %></em>
                </a> on <%= catchPost.date %>
            </h5>

            <p class="catch-post-content"><%= catchPost.catchContent %></p>
            <textarea class="edit-post-content hidden" maxlength="30000" required><%= catchPost.catchContent %></textarea> 
            
            <% if (!catchPost.catchegories[0]) { %>
                <p class="post-catchegories">No catchegories selected.</p>
            <% } else { %>
                <p class="post-catchegories">Catchegories: <%= catchPost.catchegories.join(', ') %></p>
            <% } %>

            <% if (user.userName === catchPost.postedBy.userName) {%>
            <div class="edit-and-delete">
                <button class="edit" type="submit">Edit Post</button>
            </div>
            <% } %>

            <div class="edit-post-catchegories hidden">
                <% for (let i = 0, len = availableCatchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= availableCatchegories[i].catchegory %>"
                        <% if (catchPost.catchegories.includes(availableCatchegories[i].catchegory)) {%>
                            checked
                        <% } %>
                        <label for="<%= availableCatchegories[i].catchegory %>"><%= availableCatchegories[i].catchegory %></label>
                    </div>
                <% } %>
            </div>

            <button type="button" class="likes">Likes: </button><span><%= catchPost.likes %></span>

        </section>
        <hr>
        <div class="comments">
            <h2>Comments:</h2>
            <% if (catchPost.comments.length > 0) { %>
                <div data-id="<%= catchPost._id %>">
                <% catchPost.comments.forEach(comment => {%>
                    <div class="comment" data-id="<%= comment._id %>">
                        <hr>
                        <h4>User <%= comment.user.userName %> said: </h4>
                        <p class='comment-text'><%= comment.text %></p>
                        <textarea class="edit-comment-text hidden"><%= comment.text %></textarea>
                        <% if (user.userName === comment.user.userName) {%>
                            <button class='edit-comment'>Edit Comment</button>
                            <button class='del-comment'>Delete Comment</button>
                        <% } %>
                    </div>
                <% }) %>
                </div>
            <% } else { %>
                <p>There are no comments on this catch.</p>
            <% } %>
        </div>

        <% if (user.userName !== 'guest') {%>
            <hr>
            <div class="comment-box">
                <form action="/catchPosts/<%= catchPost._id %>/comment/?_method=PUT" method="POST">
                    <label for="text">Enter Comment here: </label>
                        <textarea name="text" class="comment-area"></textarea>
                    <input type="submit">
                </form>
            </div>
        <% }else{ %>
            <p><a href="/signup">Sign up</a> or <a href="/login">Login</a> to comment</p>
        <% } %>
    </main>
    </div>

    <%- include('partials/footer') -%>
    
    <script src="../../js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="../../js/user.js"></script>
    <% } %>
</body>
</html>