<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/">Back to Main</a>
    <a href="/catchProfile">Go To Your Profile</a>
    
    <h1>Create A Catch!!!</h1>
    <h2>Logged in user: <%= user.userName %></h2>

    <form action="/catchPosts/createCatchPost" method="POST">
        <input class="catch-title" type="text" placeholder="Enter Catch Title" name="catchTitle" maxlength="60" required>
        <input class="catch-link" type="text" placeholder="Enter URL link (Optional)" name="catchLink" maxlength="200">
        <textarea class="catch-content" placeholder="Enter Catch Content" name="catchContent" maxlength="30000" required></textarea>
        
        <div class="catchegories">
        <% for (let i = 0, len = catchegories.length; i < len; i++) {%>
            <div>
                <input type="checkbox" class="catchegory-options" name="catchegories" value="<%= catchegories[i].catchegory %>">
                <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %></label>
            </div>
        <% } %>
        </div>
        <input type="submit">
    </form>

    <%- include('partials/footer') -%>
    
</body>
</html>