<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch du Jour!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Catch your very own blog space!</h1>
        <% if (user === 'guest') {%>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        <% } else {%>
            <a href="/logout">Logout</a>
            <a href="/catchPosts">Create Your Own Post</a>
        <% } %>
        <p>
            <% if (user !== 'guest') {%>
                <%= user.userName %> is logged in
                <p>Posts with <%= user.omittedCatchegories.join(', ') %> catchegories will not be displayed.</p>
            <%} else{ %>
                Not logged in
            <% } %> 
        </p>
    </header>

    <% console.log('user: '+user) %>
    <main>
        <!-- Filter out user's omitted catchegories -->
        <% if (user !== 'guest') {%>
            <% catchPosts = catchPosts.filter(post => post.catchegories.every(cat => !user.omittedCatchegories.includes(cat))) %>
        <% } %>
        <!-- Print posts-->
        <% catchPosts.forEach( el => { %>
            <div class="catch-post" data-id="<%=el._id%>">
                <p>Posted by: <%= el.postedBy.userName %></p>
                <h4><a href="catchPost/<%= el._id%>"><%= el.catchTitle %></a></h4>
                <span class="catchPost"><%= el.catchContent %></span>
                <% if (!el.catchegories[0]) { %>
                    <p>No catchegories selected</p>
                <%} else { %>
                    <p>Catchegories: <%= el.catchegories %></p>
                <% } %>
                <span>Likes: <%= el.likes %></span>
                <span>Comments: <%= el.comments %></span>
                <% if (user.userName === el.postedBy.userName) {%>
                    <span class="del"> Delete </span>
                <% } %>
            </div>
            <% console.log('postedBy: '+el.postedBy.userName) %>

        <% }) %>    
    </main>

</body>
</html>