<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dabf81eaea.js" crossorigin="anonymous"></script>
    <title>Catch du Jour!</title>
</head>
<body>
    <header>
        <h1>Catch your very own blog space!</h1>
        <% if (!user) {%>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        <% } else {%>
            <a href="/logout">Logout</a>
            <a href="/catchPosts">Go to your Profile</a>
        <% } %>
        <p>
            <% if (user) {%>
                <%= user.userName %> is logged in
                <p>Posts with <%= user.omittedCatchegories.join(', ') %> catchegories will not be displayed.</p>
            <%} else{ %>
                Not logged in
            <% } %> 
        </p>
    </header>

    <main>
        <ul>
            <!-- Filter out user's omitted catchegories -->
            <% if (user) {%>
                <% catchPosts = catchPosts.filter(post => post.catchegories.every(cat => !user.omittedCatchegories.includes(cat))) %>
            <% } %>
            <!-- Print posts-->
            <% catchPosts.forEach( el => { %>
                <li class="catch-post-item" data-id="<%=el._id%>">
                    <p>Posted by: <%= el.postedBy.userName %></p>
                    <h4><a href="/<%= el._id %>"><%= el.catchTitle %></a></h4>
                    <p class="catch-content"><%= el.catchContent %></p>
                    <% if (!el.catchegories[0]) { %>
                        <p>No catchegories selected</p>
                    <%} else { %>
                        <p>Catchegories: <%= el.catchegories %></p>
                    <% } %>
                    <form action="/catchPosts/likeCatchPost/<%= el._id %>?_method=PUT" method="POST">
                        <button class="fas fa-arrow-circle-up" type="submit"></button>Likes: <%= el.likes %>
                    </form>

                    <span>Comments: <%= el.comments %></span>
                    <span class="del"> Delete </span>
                </li>
            <% }) %>    
        </ul>
    </main>
    <script src="js/main.js"></script>
</body>
</html>