<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch du Jour!</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/dabf81eaea.js" crossorigin="anonymous"></script>
    
</head>
<body data-user="<%= user._id %>">
    <!-- Filter out user's omitted catchegories -->
    <% catchPosts = catchPosts.filter(post => post.catchegories?.every(cat => !user.omittedCatchegories.includes(cat))) %>
    
    <%- include('partials/header') -%>

    <div class="container">
        <main>
            <% if (user.userName !== 'guest' && user) {%>
                <div class="create-page">
                    <a href="/createCatchPage">Create Your Own Catch</a>
                </div>
            <% } %>

            <!-- Sort by New, Tastiest, Most Talked About -->
            <% let newClass = 'unsort' %>
            <% let mostLikedClass = 'unsort' %>
            <% let mostCommentedClass = 'unsort' %>

            <% if (preferredSort === 'new'){ newClass = 'sort-select' } %>
            <% if (preferredSort === 'mostLiked'){ mostLikedClass = 'sort-select' } %>
            <% if (preferredSort === 'mostCommented'){ mostCommentedClass = 'sort-select' } %>

            <div class="sort">
                <a href="/" class="new <%= newClass %>">Freshest</a> |
                <a href="/mostLiked" class="most-liked <%= mostLikedClass %>">Tastiest</a>  |  
                <a href="/mostCommented" class="most-comments <%= mostCommentedClass %>">Most Chewed On</a>
            </div>
 
            <!-- Print posts-->
            <% catchPosts.forEach( el => { %>
            
            <section class="catch-post" data-id="<%=el._id%>">
                <section class="catch-header">
                    <% if (el.likedBy.some(u => u.userName === user.userName)){ %>
                    <div class="likes liked">
                    <% }else{ %>
                    <div class="likes">
                    <% } %>
                        <i class="fas fa-fish fa-3x"><span class="fa-layers-counter fa-fw"><%= el.likes %></span></i>
                    </div>
                    <div class="catch-title">
                        <h3><a href="catchPosts/<%= el._id%>/catchPost"><%= el.catchTitle %></a></h3>
                        <h5>Posted by: <em><a href="catchPosts/<%= el.postedBy.userName %>"><%= el.postedBy.userName %></a></em> <%= moment(el.date).fromNow() %></h5>
                    </div>
                    <div class="comment-bubble">
                        <i class="far fa-comment fa-3x fa-fw"><span class="fa-layers-counter fa-fw"><%= el.comments.length %></span></i>
                    </div>
                </section>

                <hr>
                <% if (!el.catchegories[0]) { %>
                    <h4 class="post-catchegories">No catchegories selected.</h4>
                <% } else { %>
                    <h4 class="post-catchegories">Catchegories: <span><%= el.catchegories.join(', ') %></span></h4>
                <% } %>
                <hr>

                <% if (el.catchLink !== 'none'){ %>
                    <span>Outside link: </span><a class="catch-link" href="<%= el.catchLink %>" target="_blank"><%= el.catchLink %></a>
                <% } %>

                <!-- Format content if it exceeds desired length -->
                <% let content = el.catchContent %>
                <% content.length < 300 ? content = content : content = content.slice(0, 300) %>
                <% content.includes('\n', content.indexOf('\n', content.indexOf('\n', content.indexOf('\n')+1)+1)) ? content = content.slice(0, content.indexOf('\n', content.indexOf('\n', content.indexOf('\n')+1)+1)) : content = content %>

                <% if (content.length >= 300 || el.catchContent.includes('\n', content.indexOf('\n', content.indexOf('\n', content.indexOf('\n')+1)+1))){ %>
                    <p class="catch-post-content"><%= content %>...<a href="catchPosts/<%= el._id %>/catchPost" class="see-more"> (See whole catch)</a></p>
                <% }else{ %>
                    <p class="catch-post-content"><%= content %></p>
                <% } %>
                <textarea class="edit-post-content hidden" name="catchContent"><%= el.catchContent %></textarea>

                <% if (user.userName === el.postedBy.userName) {%>
                <div class="edit-and-delete">
                    <button class="edit" type="submit">Edit Post</button>
                    <button class="del"> Delete </button>
                </div>
                <% } %>
                <div class="edit-post-catchegories hidden">
                    <% for (let i = 0, len = catchegories.length; i < len; i++) {%>
                        <div>
                            <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= catchegories[i].catchegory %>"
                            <% if (el.catchegories.includes(catchegories[i].catchegory)) {%>
                                checked
                            <% } %>
                            <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %></label>
                        </div>
                    <% } %>
                </div>
  

            </section>
            <% }) %>
        </main>

        <aside>
            <h3>Catchegories</h3>
            <% if (user.userName === 'guest') {%>
                <span>(Signup/Login to edit your viewed catchegories)</span>
            <% } %>
            <hr>
            <div class="catchegories">
                <% for (let i = 0, len = catchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="catchegory-selected" name="catchegory" value="<%= catchegories[i].catchegory %>" checked>
                        <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %> (<%= catchegories[i].count %>)</label>
                    </div>
                <% } %>
            </div>
      
            <% if (user.omittedCatchegories.length > 0) {%>
            <h3>Unseen Catchegories</h3>
            <div class='omitted-catchegories'>
                <% for (let i = 0, len = user.omittedCatchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="catchegory-unselected" name="omitted-catchegory" value="<%= user.omittedCatchegories[i] %>">
                        <label for="<%= user.omittedCatchegories[i] %>"><%= user.omittedCatchegories[i] %></label>
                    </div>
                <% } %>
                <span>(While these are unselected, you will not be able to add them to your catches via the edit button)</span>
            </div>
            <% } %>
        </aside>
    </div>

    <%- include('partials/footer') -%>

    <script src="js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="js/user.js"></script>
    <% } %>
</body>
</html>