<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch du Jour!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Filter out user's omitted catchegories -->
    <% if (user !== 'guest') {%>
        <% console.log('catchegory object '+catchPosts.forEach(p => p.catchegories)) %>
        <% catchPosts = catchPosts.filter(post => post.catchegories.every(cat => !user.omittedCatchegories.includes(cat))) %>
    <% } %>
    
    <header>
        <div class='intro'>
            <h1>Welcome to Catch du Jour!</h1>
            <h3>Read/interact/create the tastiest catch of the day!</h3>
        </div>

        <nav>
        <% if (user === 'guest' || !user) {%>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
        <% } else {%>
            <h5><%= user.userName %> is logged in</h5>
            <a href="/logout">Logout</a>
            <a href="/catchProfile">Go To Your Profile</a>
        <% } %>
        </nav>
    </header>

    <% console.log('index.ejs loading...') %>
    <div class="container">
        <main>
            <% if (user !== 'guest' && user) {%>
                <div class='create-page'>
                    <a href="/createCatchPage">Create Your Own Catch</a>
                </div>
            <% } %>

            <!-- Sort by New, Tastiest, Most Talked About -->
            <a href="/">Freshest</a>  |  
            <a href="/mostLiked">Tastiest</a>  |  
            <a href="/mostCommented">Most Chewed On</a>

            <!-- Print posts-->
            <% catchPosts.forEach( el => { %>
            <div class="catch-post" data-id="<%=el._id%>">
                <h3><a href="catchPosts/<%= el._id%>/catchPost"><%= el.catchTitle %></a></h3>
                <h5>Posted by: <em><a href="catchPosts/<%= el.postedBy._id %>"><%= el.postedBy.userName %></a></em> on <%= el.date %></h5>
                <span class="catch-post-content"><%= el.catchContent %></span>
                <% if (!el.catchegories[0]) { %>
                    <p>No catchegories selected</p>
                <%} else { %>
                    <p>Catchegories: <%= el.catchegories %></p>
                <% } %>
                <% if (user !== 'guest') {%>
                    <button type="button" class="likes">Likes: </button><%= el.likes %>
                <% }else{%>
                    <span>Likes: <%= el.likes %></span>
                <% } %>
                <span>Comments: <%= el.comments.length %></span>
                <% if (user.userName === el.postedBy.userName) {%>
                    <button class="edit">Edit Post</span>
                    <button class="del"> Delete </span>
                <% } %>
            </div>
            <% console.log('postedBy: '+el.postedBy.userName) %>
            <% }) %>    
        </main>

        <aside>
            <h3>Catchegories</h3>
            <ul>
                <% catchegories[0].catchegories.forEach(cat => {%>
                    <li> <%= cat %></li>
                <% }) %>
            </ul>

            <% if (user !== 'guest' || !user) {%>
            <h3>Unseen Catchegories</h3>
            <ul>
                <% if (user.omittedCatchegories) {%>
                    <li><%= user.omittedCatchegories.join(', ') %></p>
                <% } %>
            </ul>
            <% } %>
        </aside>
    </div>

    <script src="js/main.js"></script>
</body>
</html>