<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch du Jour!</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body data-user="<%= user %>">
    <!-- Filter out user's omitted catchegories -->
    <% if (user.userName !== 'guest') {%>
        <% catchPosts = catchPosts.filter(post => post.catchegories?.every(cat => !user.omittedCatchegories.includes(cat))) %>
    <% } %>
    
    <%- include('partials/header') -%>


    <div class="container">
        <main>
            <% if (user.userName !== 'guest' && user) {%>
                <div class="create-page">
                    <a href="/createCatchPage">Create Your Own Catch</a>
                </div>
            <% } %>

            <!-- Sort by New, Tastiest, Most Talked About -->
            <div class="sort">
                <a href="/">Freshest</a>  |  
                <a href="/mostLiked">Tastiest</a>  |  
                <a href="/mostCommented">Most Chewed On</a>
            </div>
 
            <!-- Print posts-->
            <% catchPosts.forEach( el => { %>

           
            
            <div class="catch-post" data-id="<%=el._id%>">
                <h3><a class="catch-title"
                        href="catchPosts/<%= el._id%>/catchPost">
                        <%= el.catchTitle %></a>
                </h3>
                <h5>Posted by: <em><a href="catchPosts/<%= el.postedBy.userName %>"><%= el.postedBy.userName %></a></em> <%= moment(el.date).fromNow() %></h5>

                <hr>
                <% if (!el.catchegories[0]) { %>
                    <h4 class="post-catchegories">No catchegories selected.</h4>
                <% } else { %>
                    <h4 class="post-catchegories">Catchegories: <span><%= el.catchegories.join(', ') %></span></h4>
                <% } %>
                <hr>

                <% if (el.catchLink !== 'none'){ %>
                    <a href="<%= el.catchLink %>" target="_blank"><%= el.catchLink %></a>
                <% } %>

                <% let content = el.catchContent %>
                <% el.catchContent.length < 300 ? content = el.catchContent : content = el.catchContent.slice(0, 300) + '...' %>
                <p class="catch-post-content"><%= content %></p>
                <% if (content.length >= 300){ %>
                    <a href="catchPosts/<%= el._id %>/catchPost" class="see-more">(See whole catch)</a>
                <% } %>
                <textarea class="edit-post-content hidden" name="catchContent"><%= el.catchContent %></textarea>

                <% if (user.userName === el.postedBy.userName) {%>
                <div class="edit-and-delete">
                    <button class="edit" type="submit">Edit Post</button>
                    <button class="del"> Delete </button>
                </div>
                <% } %>
                <div class="edit-post-catchegories hidden">
                    <% for (let i = 0, len = catchegories.length; i < len; i++) {%>
                        <div>
                            <input type="checkbox" class="post-catchegory" name="post-catchegory" value="<%= catchegories[i].catchegory %>"
                            <% if (el.catchegories.includes(catchegories[i].catchegory)) {%>
                                checked
                            <% } %>
                            <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %></label>
                        </div>
                    <% } %>
                </div>
                <button type="button" class="likes">Likes: </button><span><%= el.likes %></span>
                <div>Comments: <%= el.comments.length %></div>

            </div>
            <% }) %>    
        </main>

        <aside>
            <h3>Catchegories</h3>
            <% if (user.userName === 'guest') {%>
                <span>(Signup/Login to edit your viewed catchegories)</span>
            <% } %>
            <hr>
            <div class="catchegories">
                <form action="/users/omitCatchegory?_method=PUT" method="POST">
                <% for (let i = 0, len = catchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="catchegory-selected" name="catchegory" value="<%= catchegories[i].catchegory %>" checked>
                        <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %> (<%= catchegories[i].count %>)</label>
                    </div>
                <% } %>
                </form>
            </div>
      
            <% if (user.omittedCatchegories.length > 0) {%>
            <h3>Unseen Catchegories</h3>
            <div class='omitted-catchegories'>
                <form action="/users/omitCatchegory?_method=PUT" method="POST">
                <% for (let i = 0, len = user.omittedCatchegories.length; i < len; i++) {%>
                    <div>
                        <input type="checkbox" class="catchegory-unselected" name="omitted-catchegory" value="<%= user.omittedCatchegories[i] %>">
                        <label for="<%= user.omittedCatchegories[i] %>"><%= user.omittedCatchegories[i] %></label>
                    </div>
                <% } %>
                <span>(While these are unselected, you will not be able to add them to your catches via the edit button)</span>
            </div>
            <% } %>
        </aside>
    </div>

    <%- include('partials/footer') -%>

    <script src="js/main.js"></script>
    <% if (user.userName !== 'guest'){ %>
        <script src="js/user.js"></script>
    <% } %>
</body>
</html>