<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch du Jour</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/dabf81eaea.js" crossorigin="anonymous"></script>


</head>
<body data-user="<%= user._id %>">
    
    <%- include('partials/header') -%>
    <section>
        <h3><%= targetUser.userName %>'s Catchegories</h3>
        <hr>
        <div class="catchegories">
            <form action="/users/omitCatchegory?_method=PUT" method="POST">
            <% for (let i = 0, len = catchegories.length; i < len; i++){ %>
                <div>
                    <input type="checkbox" class="catchegory-selected" name="catchegory" value="<%= catchegories[i].catchegory %>" checked>
                    <label for="<%= catchegories[i].catchegory %>"><%= catchegories[i].catchegory %> (<%= catchegories[i].count %>)</label>
                </div>
            <% } %>
            </form>
        </div>

        <% if (user.omittedCatchegories.length > 0) {%>
        <h3>Unseen Catchegories</h3>
        <div class='omitted-catchegories'>
            <form action="/users/omitCatchegory?_method=PUT" method="POST">
            <% for (let i = 0, len = user.omittedCatchegories.length; i < len; i++) {%>
                <div>
                    <input type="checkbox" class="catchegory-unselected" name="omitted-catchegory" value="<%= user.omittedCatchegories[i] %>">
                    <label for="<%= user.omittedCatchegories[i] %>"><%= user.omittedCatchegories[i] %></label>
                </div>
            <% } %>
        </div>
        <% } %>
    </section>
    <hr>
    
    <section>
        <h3>Your Catches</h3>
        <h5>(You will be able to see all of your posts, even if the post includes one of your 'unseen' catchegories)</h5>
        <%- include('partials/catchPostsByUser') -%>

    </section>   
 

   

 
    <%- include('partials/footer') -%>

    <script src="/js/user.js"></script>

</body>
</html>